header {
  .tituloHeader {
    display: flex;
    align-items: center;
    background-image: url(../multimedia/image1.png);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
      font-family: gothamMedium;
      font-size: 90px;
      padding: 50px;
    }
  }
  .lineaDivisor {
    height: 10px;
    background-color: #ffc107;
  }
  .tituloHeaderSolicitarTurno {
    height: 50px;
    background-color: #a6a6a6;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 32px;
      font-family: gothamMedium;
    }
  }
}
